@import "helper/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

h1  {
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.board {

  border: $border;
  display: flex;
  width: $board-width;
  height: $board-width;
  align-self: center;
  flex-wrap: wrap;
}

.cell {
  border: $border;
  width: ($board-width - 2)/3;
  height: ($board-width - 2)/3;
  text-align: center;
  line-height: ($board-width - 2)/3;
  font-size: ($board-width - 2)/3;
}
